.bottom-buffer {
	margin-bottom: 1%;
}

textarea {
	resize: none;
}

.input-group-addon-button {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.input-group-addon-button:focus,
.input-group-addon-button.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.input-group-addon-button:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}